In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

**Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!**

In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT * 
        FROM (
                SELECT final.facility, sum(final.cost) as revenue
                FROM (

                        SELECT Facilities.name as facility, 
                        CASE WHEN Bookings.memid = 0 THEN (Facilities.guestcost * Bookings.slots)
                        ELSE (Facilities.membercost * Bookings.slots)
                        END AS cost
                        
                        FROM Bookings
                        JOIN Facilities ON Bookings.facid = Facilities.facid
                
                JOIN Members ON Bookings.memid = Members.memid) AS final

        GROUP BY final.facility) AS total

        WHERE total.revenue <1000;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

**Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order**

### Looks like the jupiter notebook doesnt support 'concat' function of sql

In [15]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
              SELECT m2.surname||' '||m2.firstname as recommender, m2.recommendedby, m1.surname ||','|| m1.firstname as new_member
              FROM Members AS m1
              INNER JOIN Members AS m2
              ON m2.recommendedby = m1.memid
              WHERE m2.recommendedby <> 0
              ORDER BY m2.recommendedby
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Joplette Janice', '1', 'Smith,Darren')
('Butters Gerald', '1', 'Smith,Darren')
('Owen Charles', '1', 'Smith,Darren')
('Smith Jack', '1', 'Smith,Darren')
('Mackenzie Anna', '1', 'Smith,Darren')
('Jones Douglas', '11', 'Jones,David')
('Baker Timothy', '13', 'Farrell,Jemima')
('Pinker David', '13', 'Farrell,Jemima')
('Sarwin Ramnaresh', '15', 'Bader,Florence')
('Coplin Joan', '16', 'Baker,Timothy')
('Worthington-Smyth Henry', '2', 'Smith,Tracy')
('Purview Millicent', '2', 'Smith,Tracy')
('Crumpet Erica', '2', 'Smith,Tracy')
('Rumney Henrietta', '20', 'Genting,Matthew')
('Boothe Tim', '3', 'Rownam,Tim')
('Hunt John', '30', 'Purview,Millicent')
('Dare Nancy', '4', 'Joplette,Janice')
('Jones David', '4', 'Joplette,Janice')
('Genting Matthew', '5', 'Butters,Gerald')
('Stibbons Ponder', '6', 'Tracy,Burton')
('Baker Anne', '9', 'Stibbons,Ponder')
('Bader Florence', '9', 'Stibbons,Ponder')

**Q12: Find the facilities with their usage by member, but not guests**

In [4]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT * 
        FROM 
            (
             SELECT Facilities.name as facility, Members.memid as member
             FROM Bookings
             JOIN Facilities ON Bookings.facid = Facilities.facid
             JOIN Members ON Bookings.memid = Members.memid
            ) AS final

        WHERE final.member > 0
        GROUP BY final.facility, final.member;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 1)
('Badminton Court', 2)
('Badminton Court', 3)
('Badminton Court', 5)
('Badminton Court', 6)
('Badminton Court', 7)
('Badminton Court', 8)
('Badminton Court', 9)
('Badminton Court', 10)
('Badminton Court', 11)
('Badminton Court', 12)
('Badminton Court', 13)
('Badminton Court', 14)
('Badminton Court', 15)
('Badminton Court', 16)
('Badminton Court', 17)
('Badminton Court', 21)
('Badminton Court', 24)
('Badminton Court', 26)
('Badminton Court', 29)
('Badminton Court', 30)
('Badminton Court', 33)
('Badminton Court', 35)
('Badminton Court', 36)
('Massage Room 1', 1)
('Massage Room 1', 2)
('Massage Room 1', 3)
('Massage Room 1', 4)
('Massage Room 1', 5)
('Massage Room 1', 6)
('Massage Room 1', 7)
('Massage Room 1', 8)
('Massage Room 1', 9)
('Massage Room 1', 10)
('Massage Room 1', 11)
('Massage Room 1', 12)
('Massage Room 1', 13)
('Massage Room 1', 14)
('Massage Room 1', 16)
('Massage Room 1', 17)
('Massage Room 1', 20)
('Massage Room 1', 21)
('Massage Room 1', 22)
('Massage Room 1', 24)
('Massage Room 1', 29)
('Massage Room 1', 33)
('Massage Room 1', 35)
('Massage Room 1', 36)
('Massage Room 2', 3)
('Massage Room 2', 4)
('Massage Room 2', 5)
('Massage Room 2', 7)
('Massage Room 2', 10)
('Massage Room 2', 11)
('Massage Room 2', 12)
('Massage Room 2', 14)
('Massage Room 2', 15)
('Massage Room 2', 20)
('Massage Room 2', 22)
('Massage Room 2', 24)
('Pool Table', 1)
('Pool Table', 2)
('Pool Table', 3)
('Pool Table', 4)
('Pool Table', 5)
('Pool Table', 6)
('Pool Table', 7)
('Pool Table', 8)
('Pool Table', 9)
('Pool Table', 10)
('Pool Table', 11)
('Pool Table', 12)
('Pool Table', 13)
('Pool Table', 14)
('Pool Table', 15)
('Pool Table', 16)
('Pool Table', 17)
('Pool Table', 20)
('Pool Table', 21)
('Pool Table', 22)
('Pool Table', 24)
('Pool Table', 26)
('Pool Table', 27)
('Pool Table', 28)
('Pool Table', 29)
('Pool Table', 30)
('Pool Table', 33)
('Snooker Table', 1)
('Snooker Table', 2)
('Snooker Table', 4)
('Snooker Table', 5)
('Snooker Table', 6)
('Snooker Table', 7)
('Snooker Table', 8)
('Snooker Table', 9)
('Snooker Table', 10)
('Snooker Table', 11)
('Snooker Table', 13)
('Snooker Table', 14)
('Snooker Table', 15)
('Snooker Table', 17)
('Snooker Table', 20)
('Snooker Table', 21)
('Snooker Table', 22)
('Snooker Table', 24)
('Snooker Table', 27)
('Snooker Table', 28)
('Snooker Table', 30)
('Snooker Table', 33)
('Squash Court', 1)
('Squash Court', 2)
('Squash Court', 4)
('Squash Court', 5)
('Squash Court', 6)
('Squash Court', 8)
('Squash Court', 9)
('Squash Court', 10)
('Squash Court', 11)
('Squash Court', 12)
('Squash Court', 13)
('Squash Court', 14)
('Squash Court', 15)
('Squash Court', 16)
('Squash Court', 17)
('Squash Court', 21)
('Squash Court', 22)
('Squash Court', 24)
('Squash Court', 26)
('Squash Court', 27)
('Squash Court', 28)
('Squash Court', 30)
('Squash Court', 33)
('Squash Court', 35)
('Table Tennis', 1)
('Table Tennis', 2)
('Table Tennis', 3)
('Table Tennis', 4)
('Table Tennis', 5)
('Table Tennis', 6)
('Table Tennis', 7)
('Table Tennis', 8)
('Table Tennis', 9)
('Table Tennis', 10)
('Table Tennis', 11)
('Table Tennis', 12)
('Table Tennis', 13)
('Table Tennis', 14)
('Table Tennis', 15)
('Table Tennis', 16)
('Table Tennis', 17)
('Table Tennis', 20)
('Table Tennis', 21)
('Table Tennis', 22)
('Table Tennis', 24)
('Table Tennis', 29)
('Table Tennis', 30)
('Table Tennis', 35)
('Table Tennis', 36)
('Tennis Court 1', 2)
('Tennis Court 1', 3)
('Tennis Court 1', 4)
('Tennis Court 1', 5)
('Tennis Court 1', 6)
('Tennis Court 1', 7)
('Tennis Court 1', 8)
('Tennis Court 1', 9)
('Tennis Court 1', 10)
('Tennis Court 1', 11)
('Tennis Court 1', 12)
('Tennis Court 1', 13)
('Tennis Court 1', 14)
('Tennis Court 1', 15)
('Tennis Court 1', 16)
('Tennis Court 1', 17)
('Tennis Court 1', 20)
('Tennis Court 1', 22)
('Tennis Court 1', 24)
('Tennis Court 1', 26)
('Tennis Court 1', 28)
('Tennis Court 1', 35)
('Tennis Court 1', 36)
('Tennis Court 2', 1)
('Tennis Court 2', 2)
('Tennis Court 2', 3)
('Tennis Court 2', 4)
('Tennis Court 2', 5)
('Tennis Court 2', 6)
('Tennis Court 2', 7)
('Tennis Court 2', 8)
('Tennis Court 2', 9)
('Tennis Court 2', 10)
('Tennis Court 2', 11)
('Tennis Court 2', 12)
('Tennis Court 2', 13)
('Tennis Court 2', 14)
('Tennis Court 2', 15)
('Tennis Court 2', 16)
('Tennis Court 2', 24)
('Tennis Court 2', 27)
('Tennis Court 2', 28)
('Tennis Court 2', 30)
('Tennis Court 2', 35)

**Q13: Find the facilities usage by month, but not guests**

### Looks like the jupiter notebook doesnt support 'month' function of sql

In [18]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT * 
        FROM 
        (
            SELECT Facilities.name AS facility, Members.memid AS member,strftime('%m', DATE(Members.joindate)) AS joinmonth
            FROM Bookings
            JOIN Facilities ON Bookings.facid = Facilities.facid
            JOIN Members ON Bookings.memid = Members.memid
        ) AS final

        GROUP BY final.facility, final.member, final.joinmonth;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 0, '07')
('Badminton Court', 1, '07')
('Badminton Court', 2, '07')
('Badminton Court', 3, '07')
('Badminton Court', 5, '07')
('Badminton Court', 6, '07')
('Badminton Court', 7, '07')
('Badminton Court', 8, '07')
('Badminton Court', 9, '07')
('Badminton Court', 10, '08')
('Badminton Court', 11, '08')
('Badminton Court', 12, '08')
('Badminton Court', 13, '08')
('Badminton Court', 14, '08')
('Badminton Court', 15, '08')
('Badminton Court', 16, '08')
('Badminton Court', 17, '08')
('Badminton Court', 21, '08')
('Badminton Court', 24, '09')
('Badminton Court', 26, '09')
('Badminton Court', 29, '09')
('Badminton Court', 30, '09')
('Badminton Court', 33, '09')
('Badminton Court', 35, '09')
('Badminton Court', 36, '09')
('Massage Room 1', 0, '07')
('Massage Room 1', 1, '07')
('Massage Room 1', 2, '07')
('Massage Room 1', 3, '07')
('Massage Room 1', 4, '07')
('Massage Room 1', 5, '07')
('Massage Room 1', 6, '07')
('Massage Room 1', 7, '07')
('Massage Room 1', 8, '07')
('Massage Room 1', 9, '07')
('Massage Room 1', 10, '08')
('Massage Room 1', 11, '08')
('Massage Room 1', 12, '08')
('Massage Room 1', 13, '08')
('Massage Room 1', 14, '08')
('Massage Room 1', 16, '08')
('Massage Room 1', 17, '08')
('Massage Room 1', 20, '08')
('Massage Room 1', 21, '08')
('Massage Room 1', 22, '08')
('Massage Room 1', 24, '09')
('Massage Room 1', 29, '09')
('Massage Room 1', 33, '09')
('Massage Room 1', 35, '09')
('Massage Room 1', 36, '09')
('Massage Room 2', 0, '07')
('Massage Room 2', 3, '07')
('Massage Room 2', 4, '07')
('Massage Room 2', 5, '07')
('Massage Room 2', 7, '07')
('Massage Room 2', 10, '08')
('Massage Room 2', 11, '08')
('Massage Room 2', 12, '08')
('Massage Room 2', 14, '08')
('Massage Room 2', 15, '08')
('Massage Room 2', 20, '08')
('Massage Room 2', 22, '08')
('Massage Room 2', 24, '09')
('Pool Table', 0, '07')
('Pool Table', 1, '07')
('Pool Table', 2, '07')
('Pool Table', 3, '07')
('Pool Table', 4, '07')
('Pool Table', 5, '07')
('Pool Table', 6, '07')
('Pool Table', 7, '07')
('Pool Table', 8, '07')
('Pool Table', 9, '07')
('Pool Table', 10, '08')
('Pool Table', 11, '08')
('Pool Table', 12, '08')
('Pool Table', 13, '08')
('Pool Table', 14, '08')
('Pool Table', 15, '08')
('Pool Table', 16, '08')
('Pool Table', 17, '08')
('Pool Table', 20, '08')
('Pool Table', 21, '08')
('Pool Table', 22, '08')
('Pool Table', 24, '09')
('Pool Table', 26, '09')
('Pool Table', 27, '09')
('Pool Table', 28, '09')
('Pool Table', 29, '09')
('Pool Table', 30, '09')
('Pool Table', 33, '09')
('Snooker Table', 0, '07')
('Snooker Table', 1, '07')
('Snooker Table', 2, '07')
('Snooker Table', 4, '07')
('Snooker Table', 5, '07')
('Snooker Table', 6, '07')
('Snooker Table', 7, '07')
('Snooker Table', 8, '07')
('Snooker Table', 9, '07')
('Snooker Table', 10, '08')
('Snooker Table', 11, '08')
('Snooker Table', 13, '08')
('Snooker Table', 14, '08')
('Snooker Table', 15, '08')
('Snooker Table', 17, '08')
('Snooker Table', 20, '08')
('Snooker Table', 21, '08')
('Snooker Table', 22, '08')
('Snooker Table', 24, '09')
('Snooker Table', 27, '09')
('Snooker Table', 28, '09')
('Snooker Table', 30, '09')
('Snooker Table', 33, '09')
('Squash Court', 0, '07')
('Squash Court', 1, '07')
('Squash Court', 2, '07')
('Squash Court', 4, '07')
('Squash Court', 5, '07')
('Squash Court', 6, '07')
('Squash Court', 8, '07')
('Squash Court', 9, '07')
('Squash Court', 10, '08')
('Squash Court', 11, '08')
('Squash Court', 12, '08')
('Squash Court', 13, '08')
('Squash Court', 14, '08')
('Squash Court', 15, '08')
('Squash Court', 16, '08')
('Squash Court', 17, '08')
('Squash Court', 21, '08')
('Squash Court', 22, '08')
('Squash Court', 24, '09')
('Squash Court', 26, '09')
('Squash Court', 27, '09')
('Squash Court', 28, '09')
('Squash Court', 30, '09')
('Squash Court', 33, '09')
('Squash Court', 35, '09')
('Table Tennis', 0, '07')
('Table Tennis', 1, '07')
('Table Tennis', 2, '07')
('Table Tennis', 3, '07')
('Table Tennis', 4, '07')
('Table Tennis', 5, '07')
('Table Tennis', 6, '07')
('Table Tennis', 7, '07')
('Table Tennis', 8, '07')
('Table Tennis', 9, '07')
('Table Tennis', 10, '08')
('Table Tennis', 11, '08')
('Table Tennis', 12, '08')
('Table Tennis', 13, '08')
('Table Tennis', 14, '08')
('Table Tennis', 15, '08')
('Table Tennis', 16, '08')
('Table Tennis', 17, '08')
('Table Tennis', 20, '08')
('Table Tennis', 21, '08')
('Table Tennis', 22, '08')
('Table Tennis', 24, '09')
('Table Tennis', 29, '09')
('Table Tennis', 30, '09')
('Table Tennis', 35, '09')
('Table Tennis', 36, '09')
('Tennis Court 1', 0, '07')
('Tennis Court 1', 2, '07')
('Tennis Court 1', 3, '07')
('Tennis Court 1', 4, '07')
('Tennis Court 1', 5, '07')
('Tennis Court 1', 6, '07')
('Tennis Court 1', 7, '07')
('Tennis Court 1', 8, '07')
('Tennis Court 1', 9, '07')
('Tennis Court 1', 10, '08')
('Tennis Court 1', 11, '08')
('Tennis Court 1', 12, '08')
('Tennis Court 1', 13, '08')
('Tennis Court 1', 14, '08')
('Tennis Court 1', 15, '08')
('Tennis Court 1', 16, '08')
('Tennis Court 1', 17, '08')
('Tennis Court 1', 20, '08')
('Tennis Court 1', 22, '08')
('Tennis Court 1', 24, '09')
('Tennis Court 1', 26, '09')
('Tennis Court 1', 28, '09')
('Tennis Court 1', 35, '09')
('Tennis Court 1', 36, '09')
('Tennis Court 2', 0, '07')
('Tennis Court 2', 1, '07')
('Tennis Court 2', 2, '07')
('Tennis Court 2', 3, '07')
('Tennis Court 2', 4, '07')
('Tennis Court 2', 5, '07')
('Tennis Court 2', 6, '07')
('Tennis Court 2', 7, '07')
('Tennis Court 2', 8, '07')
('Tennis Court 2', 9, '07')
('Tennis Court 2', 10, '08')
('Tennis Court 2', 11, '08')
('Tennis Court 2', 12, '08')
('Tennis Court 2', 13, '08')
('Tennis Court 2', 14, '08')
('Tennis Court 2', 15, '08')
('Tennis Court 2', 16, '08')
('Tennis Court 2', 24, '09')
('Tennis Court 2', 27, '09')
('Tennis Court 2', 28, '09')
('Tennis Court 2', 30, '09')
('Tennis Court 2', 35, '09')